.header {
  font-size: 5vmin;
}

.footer {
  position: fixed;
  bottom: 0;

  background: white;
  width: 100%;
  height: 2vw;

  display: flex;
  align-items: center;

  font-size: 3vmin;

  padding: 0.5vh 1.2vw;
}

.footer .links {
  display: flex;
  align-items: center;
  text-align: right;

  position: absolute;
  right: 3vw;
}

.footer .links a,
.footer .links .link-seperator {
  display: inline;
}

.footer .links a {
  font-size: 2vmin;
}

.footer .links .link-seperator {
  margin: 0 0.2vw;
  font-size: 3vmin;
}

.section {
  height: 100%;
  width: 100%;

  background: lemonchiffon;

  overflow: hidden;
  position: relative;
}

#title-section {
  background: url('./fearofgoats.png');
  background-color: black;
  background-repeat: repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

#title-section .title {
  background: lemonchiffon;
  font-size: 10vmin;
  padding: 2vmin 5vmin;
}

.section-header {
  font-size: 6.5vw;
  margin: 4vmin 5vmin;
}

.section-big-desc {
  font-size: 5vw;
  font-weight: bold;

  margin: 6vh 15vmin 0;

  text-align: left;
}

.section-img {
  position: absolute;
  right: 10vw;
  top: 2vh;
  bottom: 0;

  margin: auto;

  width: auto;
  height: 80%;
}

.img-decal {
  position: absolute;
  right: 8vw;
  height: 100%;

  top: 2vh;

  font-size: 6vmin;

  display: flex;
  align-items: center;

  margin: auto;
}

#summer-img {
  width: 35%;
  height: auto;

  right: 2vw;
}

#fall-section {
  background: rgb(197, 193, 158);
}

#spring-section {
  background: black;
  color: white;
}


.spring-decal {
  transform-origin: center;
  position: absolute;
  font-size: 5vmin;

  font-weight: bold;
  transform: rotate(90deg);

  right: -80vmin;
  bottom: 20vh;
}

.spring-decal.s1 {
  right: -76vmin;
  bottom: 30vh;
}

.spring-decal.s2 {
  right: -72vmin;
  bottom: 40vh;
}

.center {
  font-size: 10vmin;
  margin: 20vh auto;
  text-align: center;
  width: 100%;
}

.centerbaby {
  font-size: 7vmin;
  margin: 5vh auto;
  text-align: center;
  width: 100%;
}

#clockdiv > div{
  padding: 5vh;
  border-radius: 3vh;
  display: inline-block;
}



